.form-inline {
	float: right;
	padding-top: 7px;
	padding-right: 7px;
}

#navbar {
	margin-bottom: 0px;
}

.mooney-img {
	max-width: 100%;
}
	

.header-image {
	width: 300px;
}


.form-user {
	padding-bottom: 15px;
	max-width: 150px;
}